:root {
    --tags-bg-color: #fafbfbff;
    --tags-font-color: #54cca7ff;
    --tags-font-size: 12px;
  }

  /* .tag-list {
    color: var(--clock-days-font-color);
    font-size: calc(var(--tags-font-size) + 2px);
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding-top: 10px;
  } */
  
  .tag-list .tag-element {
    background-color: var(--tags-bg-color);
    color: var(--tags-font-color);
    border-radius: 10%;
    /* height: calc(var(--tags-font-size) + 6px);
    width: calc(var(--tags-font-size) + 6px); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--tags-font-size);
    /* line-height: calc(var(--tags-font-size) + 6px); */
    transition: all 0.5s ease-in;
    padding: 2px 10px;
    margin-top: 5px;
  }
  